Repository GoliasVictor/LivrEtec, changes with the labels that .github/labeler.yml gives for each.
All labels: n√∫cleo, teste, GIB, servidor

Renomeando Enum para Lista no proto
  src/LivrEtec.GIB.Servidor/EmprestimoServiceRPC.cs
  src/LivrEtec.GIB.Servidor/LivrosServiceRPC.cs
  src/LivrEtec.GIB/Protos/acervo.proto
  src/LivrEtec.GIB/RepLivroRPC.cs
Labels: GIB, servidor

Adição de quantidade aos testes e validacao
  src/LivrEtec.Testes/TestesLivro.cs
  src/LivrEtec/Models/Livro.cs
Labels: n√∫cleo, teste

Refatoração de serviços de Autenticação e refatoração
  src/LivrEtec.Servidor/Repositorios/RepUsuarios.cs
  src/LivrEtec.Servidor/Services/AutenticacaoService.cs
  src/LivrEtec.Servidor/Services/AutorizacaoService.cs
  src/LivrEtec.Servidor/Services/IdentidadeService.cs
  src/LivrEtec.Servidor/Services/Service.cs
  src/LivrEtec.Testes/TestesAutenticacao.cs
  src/LivrEtec.Testes/TestesAutorizacao.cs
  src/LivrEtec.Testes/TestesIdentidade.cs
  src/LivrEtec/Repositorios/IRepUsuarios.cs
Labels: n√∫cleo, teste, servidor

Exclusão acervo service
  src/LivrEtec.GIB.Servidor/LivrosServiceRPC.cs
  src/LivrEtec.GIB.Servidor/Program.cs
  src/LivrEtec.Servidor/Repositorios/RepAutores.cs
  src/LivrEtec.Servidor/Repositorios/RepEmprestimos.cs
  src/LivrEtec.Servidor/Repositorios/RepLivros.cs
  src/LivrEtec.Servidor/Repositorios/RepPessoas.cs
  src/LivrEtec.Servidor/Repositorios/RepUsuarios.cs
  src/LivrEtec.Servidor/Repositorios/Repositorio.cs
  src/LivrEtec.Servidor/Services/AcervoService.cs
  src/LivrEtec.Servidor/Services/EmprestimoService.cs
  src/LivrEtec.Servidor/Services/IdentidadeService.cs
  src/LivrEtec.Testes/ConfiguradorTestes.cs
  src/LivrEtec.Testes/TestesAutenticacao.cs
  src/LivrEtec.Testes/TestesAutorizacao.cs
  src/LivrEtec.Testes/TestesFinais/TestesEmprestimoServiceLocal.cs
  src/LivrEtec.Testes/TestesFinais/TestesLivrosLocal.cs
  src/LivrEtec.Testes/TestesIdentidade.cs
  src/LivrEtec/Repositorios/IRepEmprestimos.cs
  src/LivrEtec/Services/IAcervoService.cs
Labels: n√∫cleo, teste, GIB, servidor

Renomeando variaveis e string de conexao em Modificando appsettings
  src/Docker/GIB.Servidor/appsettings.json
  src/LivrEtec.GIB.Servidor/ConfiguracaoServidorInterno.cs
  src/LivrEtec.GIB.Servidor/EmprestimoServiceRPC.cs
  src/LivrEtec.GIB.Servidor/LivrosServiceRPC.cs
  src/LivrEtec.GIB.Servidor/Program.cs
  src/LivrEtec.GIB.Servidor/appsettings.json
  src/LivrEtec.GIB/RepLivroRPC.cs
  src/LivrEtec.Testes/Doubles/IdentidadePermitidaStub.cs
  src/LivrEtec.Testes/TestesFinais/TestesLivrosRPC.cs
Labels: teste, GIB, servidor

Exclusão ConfiguradorTestes
  src/LivrEtec.Testes/Configuracao.cs
  src/LivrEtec.Testes/ConfiguracaoTeste.cs
  src/LivrEtec.Testes/ConfiguradorTestes.cs
  src/LivrEtec.Testes/TestesAutenticacao.cs
  src/LivrEtec.Testes/TestesAutorizacao.cs
  src/LivrEtec.Testes/TestesEmprestimoService.cs
  src/LivrEtec.Testes/TestesFinais/TestesEmprestimoServiceLocal.cs
  src/LivrEtec.Testes/TestesFinais/TestesEmprestimoServiceRPC.cs
  src/LivrEtec.Testes/TestesFinais/TestesLivrosLocal.cs
  src/LivrEtec.Testes/TestesFinais/TestesLivrosRPC.cs
  src/LivrEtec.Testes/TestesIdentidade.cs
  src/LivrEtec.Testes/TestesLivro.cs
  src/LivrEtec.Testes/Utilitarios/LogUtils.cs
Labels: teste

Consertando string de conexão docker
  src/Docker/GIB.Servidor/appsettings.json
Labels: none

Criação LivrosService
  src/LivrEtec.GIB.Servidor/LivrosServiceRPC.cs
  src/LivrEtec.GIB.Servidor/Program.cs
  src/LivrEtec.GIB/LivrosServiceRPC.cs
  src/LivrEtec.Servidor/Repositorios/RepLivros.cs
  src/LivrEtec.Servidor/Services/LivrosService.cs
  src/LivrEtec.Testes/TestesFinais/TestesLivrosServiceLocal.cs
  src/LivrEtec.Testes/TestesFinais/TestesLivrosServiceRPC.cs
  src/LivrEtec.Testes/TestesLivrosService.cs
  src/LivrEtec/Services/ILivrosService.cs
Labels: n√∫cleo, teste, GIB, servidor

Update README.md
  README.md
Labels: none

Implementação Gerenciamento Tags
  src/LivrEtec.GIB.Servidor/Program.cs
  src/LivrEtec.GIB.Servidor/TagssServiceRPC.cs
  src/LivrEtec.GIB/Protos/acervo.proto
  src/LivrEtec.GIB/TagsServiceRPC.cs
  src/LivrEtec.Servidor/Repositorios/RepTags.cs
  src/LivrEtec.Servidor/Services/TagsService.cs
  src/LivrEtec.Testes/TestesFinais/TestesTagsServiceLocal.cs
  src/LivrEtec.Testes/TestesFinais/TestesTagsServiceRPC.cs
  src/LivrEtec.Testes/TestesTagsService.cs
  src/LivrEtec.Testes/Utilitarios/BDUtils.cs
  src/LivrEtec/Models/Tag.cs
  src/LivrEtec/Repositorios/IRepTags.cs
  src/LivrEtec/Services/ITagsService.cs
Labels: n√∫cleo, teste, GIB, servidor

Criando interceptadores lado servidor
  src/LivrEtec.GIB.Servidor/EmprestimoServiceRPC.cs
  src/LivrEtec.GIB.Servidor/ExceptionInterceptor.cs
  src/LivrEtec.GIB.Servidor/LivrosServiceRPC.cs
  src/LivrEtec.GIB.Servidor/Program.cs
  src/LivrEtec.GIB.Servidor/TagssServiceRPC.cs
  src/LivrEtec.GIB/EmprestimoServiceRPC.cs
Labels: GIB, servidor

Update README.md
  README.md
Labels: none

Implementação Autenticação
  .meta
  src/LivrEtec.GIB.Servidor/EmprestimoServiceRPC.cs
  src/LivrEtec.GIB.Servidor/GerenciamentoSessao.cs
  src/LivrEtec.GIB.Servidor/IdentidadeServiceRPC.cs
  src/LivrEtec.GIB.Servidor/Interceptors/ExceptionInterceptor.cs
  src/LivrEtec.GIB.Servidor/Interceptors/IdentidadeInterceptor.cs
  src/LivrEtec.GIB.Servidor/LivrEtec.GIB.Servidor.csproj
  src/LivrEtec.GIB.Servidor/Program.cs
  src/LivrEtec.GIB.Servidor/Services/TokenService.cs
  src/LivrEtec.GIB.Servidor/appsettings.Development.json
  src/LivrEtec.GIB.Servidor/appsettings.json
  src/LivrEtec.GIB/ManipuladorException.cs
  src/LivrEtec.GIB/Protos/acervo.proto
  src/LivrEtec.Servidor/Services/AutenticacaoService.cs
  src/LivrEtec.Servidor/Services/IdentidadeService.cs
  src/LivrEtec.Testes/Configuracao.cs
  src/LivrEtec.Testes/Doubles/IdentidadePermitidaStub.cs
  src/LivrEtec.Testes/TestesEmprestimoService.cs
  src/LivrEtec.Testes/TestesFinais/TestesEmprestimoServiceRPC.cs
  src/LivrEtec.Testes/TestesFinais/TestesLivrosServiceRPC.cs
  src/LivrEtec.Testes/TestesFinais/TestesTagsServiceRPC.cs
  src/LivrEtec.Testes/Utilitarios/gRPCUtils.cs
  src/LivrEtec.Testes/appsettings.json
  src/LivrEtec/Exceptions/NaoAutenticadoException.cs
  src/LivrEtec/Services/IAutenticacaoService.cs
  src/LivrEtec/Services/IIdentidadeService.cs
Labels: n√∫cleo, teste, GIB, servidor

Adição AuthKey ao docker
  src/Docker/GIB.Servidor/appsettings.json
  src/Docker/Testes/appsettings.json
  src/LivrEtec.GIB.Servidor/GerenciamentoSessao.cs
Labels: GIB, servidor

Consertando testes
  src/LivrEtec.Servidor/Services/IdentidadeService.cs
  src/LivrEtec.Testes/TestesAutenticacao.cs
Labels: teste, servidor

criação cliente do gib
  src/LivrEtec.GIB.Cliente/App.xaml
  src/LivrEtec.GIB.Cliente/App.xaml.cs
  src/LivrEtec.GIB.Cliente/LivrEtec.GIB.Cliente.csproj
  src/LivrEtec.GIB.Cliente/Main.razor
  src/LivrEtec.GIB.Cliente/MainPage.xaml
  src/LivrEtec.GIB.Cliente/MainPage.xaml.cs
  src/LivrEtec.GIB.Cliente/MauiProgram.cs
  src/LivrEtec.GIB.Cliente/Pages/Index.razor
  src/LivrEtec.GIB.Cliente/Platforms/Windows/App.xaml
  src/LivrEtec.GIB.Cliente/Platforms/Windows/App.xaml.cs
  src/LivrEtec.GIB.Cliente/Platforms/Windows/Package.appxmanifest
  src/LivrEtec.GIB.Cliente/Platforms/Windows/app.manifest
  src/LivrEtec.GIB.Cliente/Properties/launchSettings.json
  src/LivrEtec.GIB.Cliente/Resources/AppIcon/appicon.svg
  src/LivrEtec.GIB.Cliente/Resources/AppIcon/appiconfg.svg
  src/LivrEtec.GIB.Cliente/Resources/Fonts/OpenSans-Regular.ttf
  src/LivrEtec.GIB.Cliente/Resources/Images/dotnet_bot.svg
  src/LivrEtec.GIB.Cliente/Resources/Raw/AboutAssets.txt
  src/LivrEtec.GIB.Cliente/Resources/Splash/splash.svg
  src/LivrEtec.GIB.Cliente/Shared/MainLayout.razor
  src/LivrEtec.GIB.Cliente/Shared/MainLayout.razor.css
  src/LivrEtec.GIB.Cliente/_Imports.razor
  src/LivrEtec.GIB.Cliente/wwwroot/css/app.css
  src/LivrEtec.GIB.Cliente/wwwroot/favicon.ico
  src/LivrEtec.GIB.Cliente/wwwroot/index.html
  src/LivrEtec.sln
Labels: none

Remoção Sufixo Asnc
  src/LivrEtec.GIB.Servidor/EmprestimoServiceRPC.cs
  src/LivrEtec.GIB.Servidor/GerenciamentoSessao.cs
  src/LivrEtec.GIB.Servidor/Interceptors/IdentidadeInterceptor.cs
  src/LivrEtec.GIB.Servidor/LivrosServiceRPC.cs
  src/LivrEtec.GIB.Servidor/TagssServiceRPC.cs
  src/LivrEtec.GIB/EmprestimoServiceRPC.cs
  src/LivrEtec.GIB/LivrosServiceRPC.cs
  src/LivrEtec.GIB/Protos/acervo.proto
  src/LivrEtec.GIB/TagsServiceRPC.cs
  src/LivrEtec.Servidor/Repositorios/RepAutores.cs
  src/LivrEtec.Servidor/Repositorios/RepEmprestimos.cs
  src/LivrEtec.Servidor/Repositorios/RepLivros.cs
  src/LivrEtec.Servidor/Repositorios/RepPessoas.cs
  src/LivrEtec.Servidor/Repositorios/RepTags.cs
  src/LivrEtec.Servidor/Repositorios/RepUsuarios.cs
  src/LivrEtec.Servidor/Services/AutenticacaoService.cs
  src/LivrEtec.Servidor/Services/AutorizacaoService.cs
  src/LivrEtec.Servidor/Services/EmprestimoService.cs
  src/LivrEtec.Servidor/Services/IdentidadeService.cs
  src/LivrEtec.Servidor/Services/LivrosService.cs
  src/LivrEtec.Servidor/Services/TagsService.cs
  src/LivrEtec.Testes/TestesAutenticacao.cs
  src/LivrEtec.Testes/TestesAutorizacao.cs
  src/LivrEtec.Testes/TestesEmprestimoService.cs
  src/LivrEtec.Testes/TestesIdentidade.cs
  src/LivrEtec.Testes/TestesLivrosService.cs
  src/LivrEtec.Testes/TestesTagsService.cs
  src/LivrEtec/Repositorios/IRepAutores.cs
  src/LivrEtec/Repositorios/IRepEmprestimos.cs
  src/LivrEtec/Repositorios/IRepLivros.cs
  src/LivrEtec/Repositorios/IRepPessoas.cs
  src/LivrEtec/Repositorios/IRepTags.cs
  src/LivrEtec/Repositorios/IRepUsuarios.cs
  src/LivrEtec/Services/IAutenticacaoService.cs
  src/LivrEtec/Services/IAutorizacaoService.cs
  src/LivrEtec/Services/IEmprestimoService.cs
  src/LivrEtec/Services/IIdentidadeService.cs
  src/LivrEtec/Services/ILivrosService.cs
  src/LivrEtec/Services/ITagsService.cs
Labels: n√∫cleo, teste, GIB, servidor

Corrigindo nome
  src/LivrEtec.GIB.Servidor/LivrosServiceRPC.cs
  src/LivrEtec.GIB/LivrosServiceRPC.cs
Labels: GIB, servidor

Update IdentidadePermitidaStub.cs
  src/LivrEtec.Testes/Doubles/IdentidadePermitidaStub.cs
Labels: teste

Atualizando appsettings
  .gitignore
  src/LivrEtec.GIB.Servidor/Program.cs
  src/LivrEtec.GIB.Servidor/appsettings.json
  src/LivrEtec.GIB.Servidor/appsettings.modelo.json
  src/appsettings.json
Labels: GIB, servidor

Update .gitignore
  .gitignore
Labels: none

Removendo appsettings,json
  .gitignore
  src/LivrEtec.GIB.Servidor/appsettings.json
  src/LivrEtec.GIB.Servidor/appsettings.modelo.json
  src/LivrEtec.Testes/appsettings.json
Labels: teste, GIB, servidor

Comentando appsettings.modelo.json
  src/LivrEtec.GIB.Servidor/appsettings.modelo.json
  src/LivrEtec.Testes/Configuracao.cs
  src/LivrEtec.Testes/Utilitarios/BDUtils.cs
  src/LivrEtec.Testes/appsettings.modelo.json
Labels: teste, GIB, servidor

Adição dcproj
  src/LivrEtec.sln
  src/docker-compose.dcproj
  src/docker-compose.override.yml
Labels: none

Adicionando cache e profiles ao docker
  .github/workflows/docker-compose.yml
  .github/workflows/dotnet.yml
  .meta
  src/Docker/GIB.Servidor/Dockerfile
  src/Docker/GIB.Servidor/appsettings.json
  src/Docker/Testes/Dockerfile
  src/Docker/Testes/appsettings.json
  src/docker-compose.dcproj
  src/docker-compose.yml
  src/launchSettings.json
Labels: none

Update dotnet.yml
  .github/workflows/dotnet.yml
Labels: none

Consertando dockerfile
  src/Docker/GIB.Servidor/Dockerfile
  src/Docker/Testes/Dockerfile
Labels: none

Tentativa conserto erro cache
  src/Docker/GIB.Servidor/Dockerfile
  src/Docker/Testes/Dockerfile
Labels: none

removendo cache por dar problema
  src/Docker/GIB.Servidor/Dockerfile
  src/Docker/Testes/Dockerfile
Labels: none

removendo https
  src/Docker/GIB.Servidor/appsettings.json
Labels: none

Consertando imagem base dokerfile de testes
  src/Docker/Testes/Dockerfile
Labels: none

Removendo duplicatas do github actions
  .github/workflows/docker-compose.yml
  .github/workflows/dotnet.yml
Labels: none

Substituindo tema
  docs/docfx.json
  docs/templates/discordfx/partials/footer.tmpl.partial
  docs/templates/discordfx/partials/navbar.tmpl.partial
  docs/templates/discordfx/styles/main.js
  docs/templates/discordfx/toc.html.tmpl
  docs/templates/singulinkfx/layout/_master.tmpl
  docs/templates/singulinkfx/partials/footer.tmpl.partial
  docs/templates/singulinkfx/partials/head.tmpl.partial
  docs/templates/singulinkfx/partials/li.tmpl.partial
  docs/templates/singulinkfx/partials/logo.tmpl.partial
  docs/templates/singulinkfx/partials/namespace.tmpl.partial
  docs/templates/singulinkfx/partials/navbar.tmpl.partial
  docs/templates/singulinkfx/partials/scripts.tmpl.partial
  docs/templates/singulinkfx/partials/searchResults.tmpl.partial
  docs/templates/singulinkfx/partials/toc.tmpl.partial
  docs/templates/singulinkfx/styles/config.css
  docs/templates/singulinkfx/styles/discord.css
  docs/templates/singulinkfx/styles/down-arrow.svg
  docs/templates/singulinkfx/styles/jquery.twbsPagination.js
  docs/templates/singulinkfx/styles/main.css
  docs/templates/singulinkfx/styles/main.js
  docs/templates/singulinkfx/styles/singulink.css
  docs/templates/singulinkfx/styles/singulink.js
  docs/templates/singulinkfx/styles/url.min.js
  docs/templates/singulinkfx/toc.html.tmpl
Labels: none

Update docfx.yml
  .github/workflows/docfx.yml
Labels: none

Movendo serviços para suas pastas
  src/LivrEtec.GIB.Servidor/Services/EmprestimoServiceRPC.cs
  src/LivrEtec.GIB.Servidor/Services/GerenciamentoSessao.cs
  src/LivrEtec.GIB.Servidor/Services/LivrosServiceRPC.cs
  src/LivrEtec.GIB.Servidor/Services/TagssServiceRPC.cs
  src/LivrEtec.GIB/Services/EmprestimoServiceRPC.cs
  src/LivrEtec.GIB/Services/LivrosServiceRPC.cs
  src/LivrEtec.GIB/Services/TagsServiceRPC.cs
Labels: GIB, servidor

Adição serilog
  src/LivrEtec.GIB.Servidor/ConfiguracaoServidorInterno.cs
  src/LivrEtec.GIB.Servidor/LivrEtec.GIB.Servidor.csproj
  src/LivrEtec.GIB.Servidor/Program.cs
Labels: GIB, servidor

Documentação IRepEmprestimo e IrepAutores
  .meta
  docs/docfx.json
  src/LivrEtec.Servidor/Repositorios/RepAutores.cs
  src/LivrEtec.Servidor/Repositorios/RepEmprestimos.cs
  src/LivrEtec/Models/Autorizacao/CRUD.cs
  src/LivrEtec/Models/Autorizacao/IGrupoPermissao.cs
  src/LivrEtec/Models/Autorizacao/Permissoes.cs
  src/LivrEtec/Repositorios/IRepAutores.cs
  src/LivrEtec/Repositorios/IRepEmprestimos.cs
  src/LivrEtec/Usings.cs
Labels: n√∫cleo, servidor

Movendo wiki para o docfx
  docs/articles/arquitetura-dos-projetos.md
  docs/articles/gib/funcionalidades.md
  docs/articles/gib/telas.md
  docs/articles/intro.md
  docs/articles/modelos-de-dados.md
  docs/articles/toc.yml
Labels: none

Consertando links
  docs/articles/gib/funcionalidades.md
  docs/articles/gib/telas.md
  docs/articles/modelos-de-dados.md
Labels: none

Atualizando readme
  .vscode/settings.json
  README.md
  src/Docker/GIB.Servidor/Dockerfile
  src/Docker/GIB.Servidor/appsettings.json
  src/Docker/Testes/appsettings.json
  src/docker-compose.yml
Labels: none

.github/labeler.yml:

n√∫cleo: src/LivrEtec/**/*
teste: src/LivrEtec.Testes/**/*
GIB:
  - src/LivrEtec.GIB/**/*
  - src/LivrEtec.GIB.Servidor/**/*
servidor: 
  - src/LivrEtec.Servidor/**/*
  - src/LivrEtec.GIB.Servidor/**/*
