Repository GoliasVictor/LivrEtec, changes with the labels that .github/labeler.yml gives for each.
All labels: n√∫cleo, teste, GIB, servidor

Terminando Readme e script de criacao banco
  README.md
  docs/articles/gib/criacao-banco-de-dados.md
  docs/articles/toc.yml
  src/LivrEtec.GIB.Servidor/Program.cs
  src/LivrEtec.GIB.Servidor/appsettings.Development.json
  src/LivrEtec.GIB.Servidor/appsettings.modelo.json
Labels: GIB, servidor

Atualizando readme
  README.md
  docs/api/toc.yml
  docs/articles/arquitetura-dos-projetos.md
  docs/articles/intro.md
  docs/articles/testes/testes.md
  docs/index.md
  src/README.md
Labels: none

Pequena correção
  docs/articles/testes.md
  docs/articles/toc.yml
Labels: none

Update index.md
  docs/api/index.md
Labels: none

Update README.md
  README.md
Labels: none

Update criacao-banco-de-dados.md
  docs/articles/gib/criacao-banco-de-dados.md
Labels: none

Corrigindo warnings
  README.md
  src/LivrEtec.Testes/TestesFinais/TestesEmprestimoServiceRPC.cs
  src/LivrEtec.Testes/TestesFinais/TestesLivrosServiceRPC.cs
  src/LivrEtec.Testes/TestesFinais/TestesTagsServiceRPC.cs
Labels: teste

Consertando links
  README.md
Labels: none

Update README.md
  README.md
Labels: none

.github/labeler.yml:

n√∫cleo: src/LivrEtec/**/*
teste: src/LivrEtec.Testes/**/*
GIB:
  - src/LivrEtec.GIB/**/*
  - src/LivrEtec.GIB.Servidor/**/*
servidor: 
  - src/LivrEtec.Servidor/**/*
  - src/LivrEtec.GIB.Servidor/**/*
