Repository GoliasVictor/LivrEtec, changes with the labels that .github/labeler.yml gives for each.
All labels: n√∫cleo, teste, GIB, cliente, servidor

.github/labeler.yml:

n√∫cleo: src/LivrEtec/**/*
teste: src/LivrEtec.Testes/**/*
GIB:
  - src/LivrEtec.GIB/**/*
  - src/LivrEtec.GIB.*/**/*
cliente: 
  - src/LivrEtec.GIB.Cliente/**/*
servidor: 
  - src/LivrEtec.Servidor/**/*
  - src/LivrEtec.GIB.Servidor/**/*

Update codeql.yml
  .github/workflows/codeql.yml
Labels: none

Update and rename codeql.yml to code-quality.yml
  .github/workflows/code-quality.yml
Labels: none

Update code-quality.yml
  .github/workflows/code-quality.yml
Labels: none

Criacao LivrEtec com Rust
  src/LivrEtecRs/Cargo.lock
  src/LivrEtecRs/Cargo.toml
  src/LivrEtecRs/src/main.rs
  src/LivrEtecRs/src/models.rs
  src/LivrEtecRs/target/.future-incompat-report.json
  src/LivrEtecRs/target/.rustc_info.json
  src/LivrEtecRs/target/CACHEDIR.TAG
Labels: none

Correcao ortografica
  src/LivrEtecRs/src/models.rs
Labels: none

Banco de dados criado
  src/LivrEtecRs/src/models.rs
  src/LivrEtecRs/target/.rustc_info.json
Labels: none

Adicao rust mysql e grpc
  src/LivrEtecRs/build.rs
  src/LivrEtecRs/proto/acervo.proto
  src/LivrEtecRs/src/criacao.sql
  src/LivrEtecRs/src/server.rs
  src/LivrEtecRs/target/.rustc_info.json
Labels: none

Criação Rs. Registrar Livro
  src/LivrEtecRs/.gitignore
  src/LivrEtecRs/Cargo.lock
  src/LivrEtecRs/Cargo.toml
  src/LivrEtecRs/src/criacao.sql
  src/LivrEtecRs/src/livretec_rpc.rs
  src/LivrEtecRs/src/main.rs
  src/LivrEtecRs/src/prelude.rs
  src/LivrEtecRs/src/server.rs
  src/LivrEtecRs/src/servicos/livros_service.rs
  src/LivrEtecRs/src/servicos/mod.rs
  src/LivrEtecRs/target/.future-incompat-report.json
  src/LivrEtecRs/target/.rustc_info.json
  src/LivrEtecRs/target/CACHEDIR.TAG
Labels: none

acervo.proto Movido
  src/LivrEtec.GIB/LivrEtec.GIB.csproj
  src/LivrEtecRs/proto/acervo.proto
  src/proto/acervo.proto
Labels: GIB

Criacao inicial layout do Login
  src/LivrEtec.GIB.Cliente/Pages/Index.razor
  src/LivrEtec.GIB.Cliente/Pages/Index.razor.css
  src/LivrEtec.GIB.Cliente/Pages/Index.razor.scss
  src/LivrEtec.GIB.Cliente/Shared/MainLayout.razor.css
  src/LivrEtec.GIB.Cliente/Shared/Sidebar.razor.css
  src/LivrEtec.GIB.Cliente/wwwroot/css/app.css
  src/LivrEtec.GIB.Cliente/wwwroot/css/app.scss
Labels: GIB, cliente

Codql removido
  .github/workflows/code-quality.yml
Labels: none

Squashed commit of the following:
  .github/workflows/codeql.yml
Labels: none

Adição code coverage
  .github/workflows/dotnet.yml
Labels: none

Update dotnet.yml
  .github/workflows/dotnet.yml
Labels: none

Update dotnet.yml
  .github/workflows/dotnet.yml
Labels: none

Update dotnet.yml
  .github/workflows/dotnet.yml
Labels: none

Update dotnet.yml
  .github/workflows/dotnet.yml
Labels: none

Update dotnet.yml
  .github/workflows/dotnet.yml
Labels: none

Update dotnet.yml
  .github/workflows/dotnet.yml
Labels: none

Update dotnet.yml
  .github/workflows/dotnet.yml
Labels: none

Update dotnet.yml
  .github/workflows/dotnet.yml
Labels: none

Update dotnet.yml
  .github/workflows/dotnet.yml
Labels: none

Update dotnet.yml
  .github/workflows/dotnet.yml
Labels: none

Adicionado EndPoint EhAutorizado
  src/LivrEtec.GIB.Servidor/Program.cs
  src/LivrEtec.GIB.Servidor/Services/GerenciamentoSessao.cs
  src/LivrEtec.GIB/Protos/acervo.proto
  src/LivrEtec.Servidor/Services/AutorizacaoService.cs
Labels: GIB, servidor

Criacao Identificação Lado do Cliente
  src/LivrEtec.GIB.Cliente/LivrEtec.GIB.Cliente.csproj
  src/LivrEtec.GIB.Cliente/MauiProgram.cs
  src/LivrEtec.GIB.Cliente/Services/GrpcChannelProvider.cs
  src/LivrEtec.GIB.Cliente/Services/IdentidadeService.cs
  src/LivrEtec.GIB.Cliente/using.cs
  src/LivrEtec.Servidor/Services/AutenticacaoService.cs
  src/LivrEtec/Services/IAutenticacaoService.cs
Labels: n√∫cleo, GIB, cliente, servidor

Substituindo Autenticacao por IAutenticacao para gerar hash
  src/LivrEtec.GIB.Servidor/Program.cs
  src/LivrEtec.Servidor/Services/IdentidadeService.cs
Labels: GIB, servidor

Substituindo Autenticacao por IAutenticacao para gerar hash 2
  src/LivrEtec.Testes/TestesAutenticacao.cs
  src/LivrEtec.Testes/TestesEmprestimoService.cs
Labels: teste

Backend Pagina Login
  src/LivrEtec.GIB.Cliente/MauiProgram.cs
  src/LivrEtec.GIB.Cliente/Pages/Index.razor
  src/LivrEtec.GIB.Cliente/Services/ConfiguracaoService.cs
  src/LivrEtec.GIB.Cliente/Services/GrpcChannelProvider.cs
  src/LivrEtec.GIB.Cliente/Services/IConfiguracaoService.cs
  src/LivrEtec.GIB.Cliente/Services/IdentidadeService.cs
  src/LivrEtec.GIB.Servidor/Interceptors/IdentidadeInterceptor.cs
  src/LivrEtec.GIB.Servidor/Services/GerenciamentoSessao.cs
  src/LivrEtec.GIB/Protos/acervo.proto
  src/LivrEtec.Servidor/Repositorios/RepUsuarios.cs
  src/LivrEtec.Servidor/Services/EmprestimoService.cs
  src/LivrEtec.Servidor/Services/IdentidadeService.cs
  src/LivrEtec.Testes/Doubles/IdentidadePermitidaStub.cs
  src/LivrEtec.Testes/TestesIdentidade.cs
  src/LivrEtec/Repositorios/IRepUsuarios.cs
  src/LivrEtec/Services/IIdentidadeService.cs
Labels: n√∫cleo, teste, GIB, cliente, servidor

Adicionado Redirecionamento e Autorizacão
  src/LivrEtec.GIB.Cliente/LivrEtec.GIB.Cliente.csproj
  src/LivrEtec.GIB.Cliente/Main.razor
  src/LivrEtec.GIB.Cliente/MauiProgram.cs
  src/LivrEtec.GIB.Cliente/Pages/Index.razor
  src/LivrEtec.GIB.Cliente/Pages/livro/Procurar.razor
  src/LivrEtec.GIB.Cliente/Services/LEAuthenticationStateProvider.cs
  src/LivrEtec.GIB.Cliente/Shared/Sidebar.razor
  src/LivrEtec.GIB.Cliente/_Imports.razor
  src/LivrEtec.sln
Labels: GIB, cliente

Atualizados Testes IdentidadeService
  src/LivrEtec.GIB.Cliente/Pages/Index.razor
  src/LivrEtec.GIB.Cliente/Services/IdentidadeService.cs
  src/LivrEtec.Servidor/Services/IdentidadeService.cs
  src/LivrEtec.Testes/Doubles/IdentidadePermitidaStub.cs
  src/LivrEtec.Testes/TestesIdentidade.cs
  src/LivrEtec/Services/IIdentidadeService.cs
Labels: n√∫cleo, teste, GIB, cliente, servidor

Adicação Validação Login
  src/LivrEtec.GIB.Cliente/Pages/Index.razor
  src/LivrEtec.GIB.Cliente/Pages/Index.razor.css
  src/LivrEtec.GIB.Cliente/Pages/Index.razor.scss
  src/LivrEtec.GIB.Cliente/Services/IdentidadeService.cs
Labels: GIB, cliente

Criado testes para exclusão cascata
  src/.idea/.idea.LivrEtec/.idea/.gitignore
  src/.idea/.idea.LivrEtec/.idea/.name
  src/.idea/.idea.LivrEtec/.idea/indexLayout.xml
  src/.idea/.idea.LivrEtec/.idea/vcs.xml
  src/LivrEtec.Testes/TestesLivrosService.cs
Labels: teste

Adição baixa livro
  src/LivrEtec.Servidor/Repositorios/RepLivros.cs
  src/LivrEtec.Servidor/Services/EmprestimoService.cs
  src/LivrEtec.Testes/TestesEmprestimoService.cs
  src/LivrEtec.Testes/TestesLivrosService.cs
  src/LivrEtec.Testes/Utilitarios/BDUtils.cs
Labels: teste, servidor

Unificação Id
  src/LivrEtec.GIB.Servidor/Services/EmprestimoServiceRPC.cs
  src/LivrEtec.GIB.Servidor/Services/GerenciamentoSessao.cs
  src/LivrEtec.GIB.Servidor/Services/LivrosServiceRPC.cs
  src/LivrEtec.GIB.Servidor/Services/TagssServiceRPC.cs
  src/LivrEtec.GIB/Protos/acervo.proto
  src/LivrEtec.GIB/RPCModels/RPCId.cs
  src/LivrEtec.GIB/Services/EmprestimoServiceRPC.cs
  src/LivrEtec.GIB/Services/LivrosServiceRPC.cs
  src/LivrEtec.GIB/Services/TagsServiceRPC.cs
Labels: GIB, servidor

Modificação funcionamento IdentidadeService
  src/LivrEtec.GIB.Cliente/LivrEtec.GIB.Cliente.csproj
  src/LivrEtec.GIB.Cliente/Services/IdentidadeService.cs
  src/LivrEtec.GIB.Cliente/Services/LEAuthenticationStateProvider.cs
  src/LivrEtec.GIB.Servidor/Interceptors/IdentidadeInterceptor.cs
  src/LivrEtec.GIB.Servidor/Services/GerenciamentoSessao.cs
  src/LivrEtec.Servidor/Repositorios/RepUsuarios.cs
  src/LivrEtec.Servidor/Services/AutorizacaoService.cs
  src/LivrEtec.Servidor/Services/EmprestimoService.cs
  src/LivrEtec.Servidor/Services/IdentidadeService.cs
  src/LivrEtec.Testes/Doubles/IdentidadePermitidaStub.cs
  src/LivrEtec.Testes/TestesAutorizacao.cs
  src/LivrEtec.Testes/TestesIdentidade.cs
  src/LivrEtec/Services/IAutorizacaoService.cs
  src/LivrEtec/Services/IIdentidadeService.cs
Labels: n√∫cleo, teste, GIB, cliente, servidor

Separaçaão Usuario e Senha
  src/LivrEtec.GIB.Servidor/Program.cs
  src/LivrEtec.GIB/Protos/acervo.proto
  src/LivrEtec.GIB/RPCModels/RPCUsuario.cs
  src/LivrEtec.Servidor/BD/BancoDeDados.cs
  src/LivrEtec.Servidor/Repositorios/RepSenhas.cs
  src/LivrEtec.Servidor/Services/AutenticacaoService.cs
  src/LivrEtec.Testes/TestesAutenticacao.cs
  src/LivrEtec.Testes/TestesAutorizacao.cs
  src/LivrEtec.Testes/TestesEmprestimoService.cs
  src/LivrEtec.Testes/TestesFinais/TestesLivrosServiceRPC.cs
  src/LivrEtec.Testes/TestesFinais/TestesTagsServiceRPC.cs
  src/LivrEtec.Testes/TestesIdentidade.cs
  src/LivrEtec.Testes/Utilitarios/BDUtils.cs
  src/LivrEtec/Models/Senha.cs
  src/LivrEtec/Models/Usuario.cs
  src/LivrEtec/Repositorios/IRepSenhas.cs
Labels: n√∫cleo, teste, GIB, servidor

BREAKING CHANGE: remove LivrEtec.GIB.Cliente
  src/LivrEtec.GIB.Cliente/App.xaml
  src/LivrEtec.GIB.Cliente/App.xaml.cs
  src/LivrEtec.GIB.Cliente/LivrEtec.GIB.Cliente.csproj
  src/LivrEtec.GIB.Cliente/Main.razor
  src/LivrEtec.GIB.Cliente/MainPage.xaml
  src/LivrEtec.GIB.Cliente/MainPage.xaml.cs
  src/LivrEtec.GIB.Cliente/MauiProgram.cs
  src/LivrEtec.GIB.Cliente/Pages/Index.razor
  src/LivrEtec.GIB.Cliente/Pages/Index.razor.css
  src/LivrEtec.GIB.Cliente/Pages/Index.razor.scss
  src/LivrEtec.GIB.Cliente/Pages/livro/Procurar.razor
  src/LivrEtec.GIB.Cliente/Platforms/Windows/App.xaml
  src/LivrEtec.GIB.Cliente/Platforms/Windows/App.xaml.cs
  src/LivrEtec.GIB.Cliente/Platforms/Windows/Package.appxmanifest
  src/LivrEtec.GIB.Cliente/Platforms/Windows/app.manifest
  src/LivrEtec.GIB.Cliente/Properties/launchSettings.json
  src/LivrEtec.GIB.Cliente/Resources/AppIcon/appicon.svg
  src/LivrEtec.GIB.Cliente/Resources/AppIcon/appiconfg.svg
  src/LivrEtec.GIB.Cliente/Resources/Fonts/OpenSans-Regular.ttf
  src/LivrEtec.GIB.Cliente/Resources/Images/dotnet_bot.svg
  src/LivrEtec.GIB.Cliente/Resources/Raw/AboutAssets.txt
  src/LivrEtec.GIB.Cliente/Resources/Splash/splash.svg
  src/LivrEtec.GIB.Cliente/Services/ConfiguracaoService.cs
  src/LivrEtec.GIB.Cliente/Services/GrpcChannelProvider.cs
  src/LivrEtec.GIB.Cliente/Services/IConfiguracaoService.cs
  src/LivrEtec.GIB.Cliente/Services/IdentidadeService.cs
  src/LivrEtec.GIB.Cliente/Services/LEAuthenticationStateProvider.cs
  src/LivrEtec.GIB.Cliente/Shared/MainLayout.razor
  src/LivrEtec.GIB.Cliente/Shared/MainLayout.razor.css
  src/LivrEtec.GIB.Cliente/Shared/Sidebar.razor
  src/LivrEtec.GIB.Cliente/Shared/Sidebar.razor.css
  src/LivrEtec.GIB.Cliente/Shared/Sidebar.razor.scss
  src/LivrEtec.GIB.Cliente/_Imports.razor
  src/LivrEtec.GIB.Cliente/using.cs
  src/LivrEtec.GIB.Cliente/wwwroot/css/app.css
  src/LivrEtec.GIB.Cliente/wwwroot/css/app.scss
  src/LivrEtec.GIB.Cliente/wwwroot/css/reset.css
  src/LivrEtec.GIB.Cliente/wwwroot/favicon.ico
  src/LivrEtec.GIB.Cliente/wwwroot/index.html
Labels: GIB, cliente

BREAKING CHANGE: Merge LivrEtec and LivrEtec.Servidor
  src/Docker/GIB.Servidor/Dockerfile
  src/Docker/Testes/Dockerfile
  src/LivrEtec.GIB.Servidor/LivrEtec.GIB.Servidor.csproj
  src/LivrEtec.Servidor/LivrEtec.Servidor.csproj
  src/LivrEtec/.vscode/tasks.json
  src/LivrEtec/LivrEtec.Servidor/BD/BancoDeDados.cs
  src/LivrEtec/LivrEtec.Servidor/BD/PacaContextFactory.cs
  src/LivrEtec/LivrEtec.Servidor/Repositorios/RepAutores.cs
  src/LivrEtec/LivrEtec.Servidor/Repositorios/RepEmprestimos.cs
  src/LivrEtec/LivrEtec.Servidor/Repositorios/RepLivros.cs
  src/LivrEtec/LivrEtec.Servidor/Repositorios/RepPessoas.cs
  src/LivrEtec/LivrEtec.Servidor/Repositorios/RepTags.cs
  src/LivrEtec/LivrEtec.Servidor/Repositorios/RepUsuarios.cs
  src/LivrEtec/LivrEtec.Servidor/Repositorios/Repositorio.cs
  src/LivrEtec/LivrEtec.Servidor/Services/AutenticacaoService.cs
  src/LivrEtec/LivrEtec.Servidor/Services/AutorizacaoService.cs
  src/LivrEtec/LivrEtec.Servidor/Services/EmprestimoService.cs
  src/LivrEtec/LivrEtec.Servidor/Services/IdentidadeService.cs
  src/LivrEtec/LivrEtec.Servidor/Services/LivrosService.cs
  src/LivrEtec/LivrEtec.Servidor/Services/TagsService.cs
  src/LivrEtec/LivrEtec.Servidor/Usings.cs
  src/LivrEtec/LivrEtec.csproj
Labels: n√∫cleo, GIB, servidor

BREAKING CHANGE: Merge LivrEtec.GIB.Servidor into LivrEtec.GIB
  src/Docker/GIB.Servidor/Dockerfile
  src/Docker/GIB_Servidor/Dockerfile
  src/Docker/GIB_Servidor/appsettings.json
  src/Docker/Testes/Dockerfile
  src/LivrEtec.GIB.Servidor/LivrEtec.GIB.Servidor.csproj
  src/LivrEtec.GIB.Servidor/Services/EmprestimoServiceRPC.cs
  src/LivrEtec.GIB.Servidor/Services/LivrosServiceRPC.cs
  src/LivrEtec.GIB.Servidor/Usings.cs
  src/LivrEtec.GIB/ConfiguracaoServidorInterno.cs
  src/LivrEtec.GIB/Interceptors/ExceptionInterceptor.cs
  src/LivrEtec.GIB/Interceptors/IdentidadeInterceptor.cs
  src/LivrEtec.GIB/LivrEtec.GIB.csproj
  src/LivrEtec.GIB/Program.cs
  src/LivrEtec.GIB/Properties/launchSettings.json
  src/LivrEtec.GIB/Properties/serviceDependencies.json
  src/LivrEtec.GIB/Properties/serviceDependencies.local.json
  src/LivrEtec.GIB/RPCServices/EmprestimoServiceRPC.cs
  src/LivrEtec.GIB/RPCServices/LivrosServiceRPC.cs
  src/LivrEtec.GIB/RPCServices/TagsServiceRPC.cs
  src/LivrEtec.GIB/Services/EmprestimoServiceRPC.cs
  src/LivrEtec.GIB/Services/GerenciamentoSessao.cs
  src/LivrEtec.GIB/Services/LivrosServiceRPC.cs
  src/LivrEtec.GIB/Services/TagssServiceRPC.cs
  src/LivrEtec.GIB/Services/TokenService.cs
  src/LivrEtec.GIB/Usings.cs
  src/LivrEtec.GIB/appsettings.modelo.json
  src/LivrEtec.Testes/LivrEtec.Testes.csproj
  src/LivrEtec.Testes/TestesFinais/TestesEmprestimoServiceRPC.cs
  src/LivrEtec.Testes/TestesFinais/TestesLivrosServiceRPC.cs
  src/LivrEtec.Testes/TestesFinais/TestesTagsServiceRPC.cs
  src/LivrEtec.Testes/Utilitarios/gRPCUtils.cs
  src/LivrEtec.Testes/appsettings.modelo.json
  src/docker-compose.yml
Labels: teste, GIB, servidor

fix: remove maui from wokflows
  .github/workflows/dotnet.yml
Labels: none
