Repository GoliasVictor/LivrEtec, changes with the labels that .github/labeler.yml gives for each.
All labels: n√∫cleo, teste, GIB, cliente, servidor

.github/labeler.yml:

n√∫cleo: src/LivrEtec/**/*
teste: src/LivrEtec.Testes/**/*
GIB:
  - src/LivrEtec.GIB/**/*
  - src/LivrEtec.GIB.*/**/*
cliente: 
  - src/LivrEtec.GIB.Cliente/**/*
servidor: 
  - src/LivrEtec.Servidor/**/*
  - src/LivrEtec.GIB.Servidor/**/*

fix: remove projects of sln file
  src/LivrEtec.sln
Labels: none

fix: fixes .meta
  .meta
Labels: none

feat: changes api protocol
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/settings.json
  .vscode/tasks.json
  src/LivrEtec.GIB/Interceptors/IdentidadeInterceptor.cs
  src/LivrEtec.GIB/LivrEtec.GIB.csproj
  src/LivrEtec.GIB/Program.cs
  src/LivrEtec.GIB/RPCServices/EmprestimoServiceRPC.cs
  src/LivrEtec.GIB/Services/EmprestimoServiceRPC.cs
  src/LivrEtec.GIB/Services/GerenciamentoSessao.cs
  src/LivrEtec.GIB/Services/LivrosServiceRPC.cs
  src/LivrEtec.GIB/Services/TagssServiceRPC.cs
  src/LivrEtec.GIB/Services/TokenService.cs
  src/LivrEtec.GIB/Usings.cs
  src/LivrEtec.Testes/LivrEtec.Testes.csproj
Labels: teste, GIB

feat: adapted endpoints to rpc and test
  src/LivrEtec.GIB/Interceptors/IdentidadeInterceptor.cs
  src/LivrEtec.GIB/LivrEtec.GIB.csproj
  src/LivrEtec.GIB/LivrEtec.GIB.sln
  src/LivrEtec.GIB/RPCModels/RPCAutor.cs
  src/LivrEtec.GIB/RPCModels/RPCCargo.cs
  src/LivrEtec.GIB/RPCModels/RPCEmprestimo.cs
  src/LivrEtec.GIB/RPCModels/RPCLivro.cs
  src/LivrEtec.GIB/RPCModels/RPCPermissao.cs
  src/LivrEtec.GIB/RPCModels/RPCPessoa.cs
  src/LivrEtec.GIB/RPCModels/RPCTag.cs
  src/LivrEtec.GIB/RPCModels/RPCUsuario.cs
  src/LivrEtec.GIB/RPCServices/EmprestimoServiceRPC.cs
  src/LivrEtec.GIB/RPCServices/LivrosServiceRPC.cs
  src/LivrEtec.GIB/RPCServices/TagsServiceRPC.cs
  src/LivrEtec.GIB/Services/EmprestimoServiceRPC.cs
  src/LivrEtec.GIB/Services/GerenciamentoSessao.cs
  src/LivrEtec.GIB/Services/LivrosServiceRPC.cs
  src/LivrEtec.GIB/Services/TagssServiceRPC.cs
  src/LivrEtec.Testes/.vscode/launch.json
  src/LivrEtec.Testes/.vscode/tasks.json
  src/LivrEtec.Testes/LivrEtec.Testes.sln
  src/LivrEtec.Testes/TestesFinais/TestesEmprestimoServiceRPC.cs
  src/LivrEtec.Testes/TestesFinais/TestesLivrosServiceRPC.cs
  src/LivrEtec.Testes/TestesFinais/TestesTagsServiceRPC.cs
  src/LivrEtec.Testes/Utilitarios/HttpUtils.cs
Labels: teste, GIB

fix: remove not nescessary tests
  src/Docker/GIB_Servidor/Dockerfile
  src/Docker/Testes/Dockerfile
  src/LivrEtec.Testes/TestesLivrosService.cs
  src/LivrEtec/LivrEtec.csproj
Labels: n√∫cleo, teste

remove grpc dependencies
  src/LivrEtec.GIB/Interceptors/ExceptionInterceptor.cs
  src/LivrEtec.GIB/Interceptors/IdentidadeInterceptor.cs
  src/LivrEtec.GIB/LivrEtec.GIB.csproj
  src/LivrEtec.GIB/ManipuladorException.cs
  src/LivrEtec.GIB/Program.cs
  src/LivrEtec.GIB/RPCModels/RPCEmprestimo.cs
  src/LivrEtec.GIB/RPCServices/EmprestimoServiceRPC.cs
  src/LivrEtec.GIB/RPCServices/LivrosServiceRPC.cs
  src/LivrEtec.GIB/RPCServices/TagsServiceRPC.cs
  src/LivrEtec.GIB/Services/GerenciamentoSessao.cs
  src/LivrEtec.GIB/Usings.cs
  src/LivrEtec.Testes/TestesFinais/TestesEmprestimoServiceRPC.cs
  src/LivrEtec.Testes/TestesFinais/TestesLivrosServiceRPC.cs
  src/LivrEtec.Testes/TestesFinais/TestesTagsServiceRPC.cs
  src/LivrEtec.Testes/Utilitarios/gRPCUtils.cs
Labels: teste, GIB

fix: fixes appsettings of docker gib
  src/Docker/GIB_Servidor/appsettings.json
Labels: none

refactor names and types
  src/LivrEtec.GIB/Client/EmprestimoService.cs
  src/LivrEtec.GIB/Client/LivrosService.cs
  src/LivrEtec.GIB/Client/TagsService.cs
  src/LivrEtec.GIB/Controllers/AuthController.cs
  src/LivrEtec.GIB/Controllers/EmprestimoController.cs
  src/LivrEtec.GIB/Controllers/LivrosController.cs
  src/LivrEtec.GIB/Controllers/TagsController.cs
  src/LivrEtec.GIB/Controllers/TokenService.cs
  src/LivrEtec.GIB/DTO/Autor.cs
  src/LivrEtec.GIB/DTO/Cargo.cs
  src/LivrEtec.GIB/DTO/Emprestimo.cs
  src/LivrEtec.GIB/DTO/Livro.cs
  src/LivrEtec.GIB/DTO/Permissao.cs
  src/LivrEtec.GIB/DTO/Pessoa.cs
  src/LivrEtec.GIB/DTO/Tag.cs
  src/LivrEtec.GIB/DTO/Usuario.cs
  src/LivrEtec.GIB/Middlewares/IdentidadeInterceptor.cs
  src/LivrEtec.GIB/Program.cs
  src/LivrEtec.GIB/Protos/acervo.proto
  src/LivrEtec.GIB/RPCModels/RPCAutor.cs
  src/LivrEtec.GIB/RPCModels/RPCLivro.cs
  src/LivrEtec.GIB/RPCModels/RPCUsuario.cs
  src/LivrEtec.GIB/Services/TagssServiceRPC.cs
  src/LivrEtec.GIB/Usings.cs
  src/LivrEtec.Testes/TestesFinais/TestesEmprestimoServiceAPI.cs
  src/LivrEtec.Testes/TestesFinais/TestesLivrosServiceAPI.cs
  src/LivrEtec.Testes/TestesFinais/TestesTagsServiceAPI.cs
Labels: teste, GIB

move client service of api to tests
  src/LivrEtec.GIB/Program.cs
  src/LivrEtec.Testes/Client/EmprestimoServiceAPI.cs
  src/LivrEtec.Testes/Client/LivrosServiceAPI.cs
  src/LivrEtec.Testes/Client/TagsService.cs
  src/LivrEtec.Testes/Doubles/IdentidadePermitidaStub.cs
  src/LivrEtec.Testes/TestesFinais/TestesEmprestimoServiceAPI.cs
  src/LivrEtec.Testes/TestesFinais/TestesLivrosServiceAPI.cs
  src/LivrEtec.Testes/TestesFinais/TestesTagsServiceAPI.cs
  src/LivrEtec.Testes/TestesIdentidade.cs
  src/LivrEtec.Testes/Usings.cs
Labels: teste, GIB

fixes some warnings
  src/LivrEtec.GIB/DTO/Emprestimo.cs
  src/LivrEtec.GIB/DTO/Permissao.cs
  src/LivrEtec.GIB/DTO/Usuario.cs
  src/LivrEtec.GIB/Program.cs
Labels: GIB

changes related to the api interface
  src/LivrEtec.GIB/Controllers/AuthController.cs
  src/LivrEtec.GIB/Controllers/EmprestimosController.cs
  src/LivrEtec.GIB/Controllers/LivrosController.cs
  src/LivrEtec.GIB/Controllers/TagsController.cs
  src/LivrEtec.GIB/TokenService.cs
  src/LivrEtec.Testes/Client/EmprestimoServiceAPI.cs
  src/LivrEtec.Testes/Client/LivrosServiceAPI.cs
  src/LivrEtec.Testes/Client/TagsService.cs
  src/LivrEtec.Testes/Configuracao.cs
Labels: teste, GIB

fix: arruma erro de nome de request
  src/LivrEtec.GIB/LivrEtec.GIB.json
  src/LivrEtec.GIB/spec/livretec-gib-api.json
  src/LivrEtec.Testes/Client/EmprestimoServiceAPI.cs
Labels: teste, GIB

fix: arruma problema de senha padrão do admin
  src/Docker/GIB_Servidor/appsettings.json
Labels: none

feat: adiciona começo do frontend
  src/LivrEtec.Front/.gitignore
  src/LivrEtec.Front/README.md
  src/LivrEtec.Front/eslint.config.js
  src/LivrEtec.Front/index.html
  src/LivrEtec.Front/package-lock.json
  src/LivrEtec.Front/package.json
  src/LivrEtec.Front/public/vite.svg
  src/LivrEtec.Front/src/App.css
  src/LivrEtec.Front/src/App.tsx
  src/LivrEtec.Front/src/assets/react.svg
  src/LivrEtec.Front/src/index.css
  src/LivrEtec.Front/src/lib/api/v1.d.ts
  src/LivrEtec.Front/src/main.tsx
  src/LivrEtec.Front/src/vite-env.d.ts
  src/LivrEtec.Front/tsconfig.app.json
  src/LivrEtec.Front/tsconfig.json
  src/LivrEtec.Front/tsconfig.node.json
  src/LivrEtec.Front/vite.config.ts
  src/LivrEtec.GIB/Program.cs
Labels: GIB

feat: Adiciona autenticação
  src/LivrEtec.Front/src/App.tsx
  src/LivrEtec.Front/src/clientApi.tsx
  src/LivrEtec.Front/src/components/protectedLayout.tsx
  src/LivrEtec.Front/src/hooks/useAuth.tsx
  src/LivrEtec.Front/src/hooks/useLocalStorage.tsx
  src/LivrEtec.Front/src/main.tsx
  src/LivrEtec.Front/src/pages/livrosPage.tsx
  src/LivrEtec.Front/src/pages/loginPage.tsx
Labels: none

feat: modifica request e response do login
  src/LivrEtec.GIB/Controllers/AuthController.cs
  src/LivrEtec.GIB/spec/livretec-gib-api-v0.1.0.json
Labels: GIB

fix: conserta a chamada de login e atualiza api
  src/LivrEtec.Front/bun.lockb
  src/LivrEtec.Front/package.json
  src/LivrEtec.Front/src/lib/api/v1.d.ts
  src/LivrEtec.Front/src/pages/loginPage.tsx
Labels: none

feat: adiciona tool bar
  src/LivrEtec.Front/package-lock.json
  src/LivrEtec.Front/package.json
  src/LivrEtec.Front/postcss.config.js
  src/LivrEtec.Front/src/App.css
  src/LivrEtec.Front/src/App.tsx
  src/LivrEtec.Front/src/components/appLayout.tsx
  src/LivrEtec.Front/src/components/protectedLayout.tsx
  src/LivrEtec.Front/src/index.css
  src/LivrEtec.Front/tailwind.config.js
Labels: none

feat: adiciona pagina para livros, livro, emprestimos e emprestimo
  src/LivrEtec.Front/src/App.tsx
  src/LivrEtec.Front/src/components/appLayout.tsx
  src/LivrEtec.Front/src/pages/emprestimoPage.tsx
  src/LivrEtec.Front/src/pages/emprestimosPage.tsx
  src/LivrEtec.Front/src/pages/livroPage.tsx
  src/LivrEtec.Front/src/pages/livrosPage.tsx
Labels: none

feat: Implementa a base de modal
  src/LivrEtec.Front/src/App.tsx
  src/LivrEtec.Front/src/components/appLayout.tsx
  src/LivrEtec.Front/src/components/confirmarModal.tsx
  src/LivrEtec.Front/src/components/editarModal.tsx
  src/LivrEtec.Front/src/components/modalView.tsx
  src/LivrEtec.Front/src/hooks/useModal.tsx
  src/LivrEtec.Front/src/main.tsx
  src/LivrEtec.Front/src/pages/livroPage.tsx
Labels: none

feat: substutie o onClose/handleClose por closeModal em useModal
  src/LivrEtec.Front/src/components/confirmarModal.tsx
  src/LivrEtec.Front/src/components/editarModal.tsx
  src/LivrEtec.Front/src/hooks/useModal.tsx
  src/LivrEtec.Front/src/pages/livroPage.tsx
Labels: none

Cria as paginas - Editar Livro - Criar Livro
  .meta
  src/LivrEtec.Front/src/App.tsx
  src/LivrEtec.Front/src/layouts/appLayout.tsx
  src/LivrEtec.Front/src/layouts/protectedLayout.tsx
  src/LivrEtec.Front/src/modals/editarModal.tsx
  src/LivrEtec.Front/src/modals/emprestarModal.tsx
  src/LivrEtec.Front/src/pages/emprestimosPage.tsx
  src/LivrEtec.Front/src/pages/livroCriar.tsx
  src/LivrEtec.Front/src/pages/livroEditar.tsx
  src/LivrEtec.Front/src/pages/livroPage.tsx
  src/LivrEtec.Front/src/pages/livrosPage.tsx
Labels: none

Adiciona à api a função de escolher do banco de dados
  src/Docker/GIB_Servidor/appsettings.json
  src/LivrEtec.GIB/LivrEtec.GIB.csproj
  src/LivrEtec.GIB/Program.cs
  src/LivrEtec.GIB/appsettings.modelo.json
Labels: GIB

Conserta erro no endpoint GET /emprestimos
  .gitignore
  .meta
  src/LivrEtec.Testes/TestesEmprestimoService.cs
  src/LivrEtec/LivrEtec.Servidor/Repositorios/RepEmprestimos.cs
Labels: n√∫cleo, teste

feat: Implementa GET /emprestimo/:id
  src/LivrEtec.GIB/Controllers/EmprestimosController.cs
  src/LivrEtec.Testes/Client/EmprestimoServiceAPI.cs
  src/LivrEtec.Testes/TestesEmprestimoService.cs
  src/LivrEtec.Testes/Utilitarios/BDUtils.cs
  src/LivrEtec/LivrEtec.Servidor/Repositorios/RepEmprestimos.cs
  src/LivrEtec/LivrEtec.Servidor/Services/EmprestimoService.cs
  src/LivrEtec/Services/IEmprestimoService.cs
Labels: n√∫cleo, teste, GIB
