Repository GoliasVictor/LivrEtec, pull requests merged in 2022-12, with the labels that each got.

#53 Servidor e nucleo separado
  src/Docker/Testes/Dockerfile
  src/LivrEtec.Interno.Servidor/ConfiguracaoServidorInterno.cs
  src/LivrEtec.Interno.Servidor/LivrEtec.Interno.Servidor.csproj
  src/LivrEtec.Interno.Servidor/LivrosServiceRPC.cs
  src/LivrEtec.Interno.Servidor/Program.cs
  src/LivrEtec.Servidor/BD/BancoDeDados.cs
  src/LivrEtec.Servidor/BD/IPacaContext.cs
  src/LivrEtec.Servidor/LivrEtec.Servidor.csproj
  src/LivrEtec.Servidor/Migrations/PacaContextModelSnapshot.cs
  src/LivrEtec.Servidor/Repositorios/RepAutores.cs
  src/LivrEtec.Servidor/Repositorios/RepLivros.cs
  src/LivrEtec.Servidor/Repositorios/Repositorio.cs
  src/LivrEtec.Servidor/Services/AcervoService.cs
  src/LivrEtec.Servidor/Services/AutenticacaoService.cs
  src/LivrEtec.Servidor/Services/AutorizacaoService.cs
  src/LivrEtec.Servidor/Services/IdentidadeService.cs
  src/LivrEtec.Servidor/Services/Service.cs
  src/LivrEtec.Testes/LivrEtec.Testes.csproj
  src/LivrEtec.Testes/TestesAutenticacao.cs
  src/LivrEtec.Testes/TestesAutorizacao.cs
  src/LivrEtec.Testes/TestesIdentidade.cs
  src/LivrEtec.Testes/TestesLivrEtec.cs
  src/LivrEtec.sln
  src/LivrEtec/BD/BancoDeDados.cs
  src/LivrEtec/LivrEtec.csproj
  src/LivrEtec/Services/IAcervoService.cs
  src/LivrEtec/Services/IAutorizacaoService.cs
Labels: núcleo, servidor

#61 Refatorando Readme
  README.md
Labels: documentação

#68 Métodos assíncronos
  src/LivrEtec.GIB.Servidor/LivrosServiceRPC.cs
  src/LivrEtec.Servidor/Repositorios/RepAutores.cs
  src/LivrEtec.Servidor/Repositorios/RepLivros.cs
  src/LivrEtec.Servidor/Services/AcervoService.cs
  src/LivrEtec.Servidor/Services/AutenticacaoService.cs
  src/LivrEtec.Servidor/Services/AutorizacaoService.cs
  src/LivrEtec.Servidor/Services/IdentidadeService.cs
  src/LivrEtec.Servidor/Services/Service.cs
  src/LivrEtec.Testes/LivrEtec.Testes.csproj
  src/LivrEtec.Testes/TestesAutenticacao.cs
  src/LivrEtec.Testes/TestesAutorizacao.cs
  src/LivrEtec.Testes/TestesIdentidade.cs
  src/LivrEtec.Testes/TestesLivros.cs
  src/LivrEtec.Testes/appsettings.json
  src/LivrEtec/Repositorios/IRepAutores.cs
  src/LivrEtec/Repositorios/IRepLivros.cs
  src/LivrEtec/Services/IAutenticacaoService.cs
  src/LivrEtec/Services/IAutorizacaoService.cs
  src/LivrEtec/Services/IIdentidadeService.cs
Labels: núcleo, GIB, servidor

#72 Corrigidos erros de ortografia e pontuação
  SECURITY.md
Labels: documentação

#71 Tradução do código de conduta
  CODE_OF_CONDUCT.md
Labels: documentação

#73 Corrigidos alguns erros de português
  README.md
Labels: documentação

#78 Arrumando BD Context
  src/LivrEtec.GIB.Servidor/LivrEtec.GIB.Servidor.csproj
  src/LivrEtec.GIB.Servidor/Program.cs
  src/LivrEtec.GIB.Servidor/Properties/serviceDependencies.json
  src/LivrEtec.GIB.Servidor/Properties/serviceDependencies.local.json
  src/LivrEtec.Servidor/Repositorios/RepAutores.cs
  src/LivrEtec.Servidor/Repositorios/RepLivros.cs
  src/LivrEtec.Servidor/Repositorios/Repositorio.cs
  src/LivrEtec.Servidor/Services/AcervoService.cs
  src/LivrEtec.Testes/TestesLivrosLocal.cs
Labels: servidor
